.event {
    position: relative;
    padding-top: 40px;
}

.event h3 {
    font-size: 25px;
}

.event p {
    margin: 10px 0;
}

.image {
    margin-bottom: 20px;
}

.controls {
    position: absolute;
    right: 30px;
    top: 0;
}

.delete {
    margin-left: 20px;
    color: red;
}

.edit {
    margin-left: 20px;
    color: darkblue;
}

.back {
    background-color: blueviolet; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }